@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,400;0,700;1,200;1,500&family=Work+Sans:ital,wght@0,400;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  position: absolute;
}

@media (max-width: 400px) {
  body,
  html {
    font-size: 14px;
  }
}

.max-width {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.margin-center {
  display: flex;
  justify-content: center;
}

a {
  color: #333;
}

p {
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Bitter", serif;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

strong {
  font-weight: 700;
}

/* Navigation */

nav {
  border-top: 5px solid #006c67;
  padding: 10px 20px;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
  background-color: #fff;
}

nav h2 {
  font-family: "Bitter", serif;
  font-weight: 700;
  grid-column: 2;
  text-align: center;
}

nav a {
  color: #646464;
  text-align: right;
}

@media (max-width: 400px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 1em;
  }
}

/* LINKS */

.name a,
a.button,
.email a,
a.logo {
  text-decoration: none;
}

main {
  position: relative;
  margin-bottom: 40vh;
  z-index: 11;
}

/* HEADER */

header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

@media (max-width: 550px) {
  header {
    flex-direction: column;
    align-items: left;
  }

  header a.button {
    width: unset;
  }

  p {
    font-size: 16px;
  }

  @media (max-width: 400px) {
    p {
      font-size: 14px;
    }
  }

  .margin-center {
    width: 100%;
  }

  header .logo {
    margin-top: 20px;
  }
}

header img {
  width: 150px;
}

header .logo h1 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #006c67;
}

header div.logo h1 span.int {
  font-weight: 200;
  color: #333;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  margin-bottom: -20px;
  margin-left: -20px;
}

@media (max-width: 400px) {
  header img {
    width: 100px;
  }

  header .logo h1 {
    font-size: 1rem;
  }
}

a.button {
  margin-top: 2em;

  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #be6830;
  border-radius: 5px;

  font-size: 14px;
  font-weight: 700;

  background: linear-gradient(
    180deg,
    rgba(255, 177, 0, 1) 0%,
    rgba(246, 155, 63, 1) 100%
  );
}

a:active.button {
  transform: scale(0.95);
}

section.quote {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  padding: 70px 5vw;
  background-color: #002641;
}

.quote p {
  max-width: 40ch;
  font-family: "Bitter", serif;
  /* font-size: 3vw; */
  font-size: clamp(1.5em, 4vw, 36px);

  font-style: italic;
  line-height: 1.3;
  color: #fff;
  text-align: center;

  margin: 0;
}

@media (max-width: 750px) {
  .quote p {
    max-width: 40ch;
    font-family: "Bitter", serif;
    font-size: 4vw;
    font-style: italic;
    line-height: 1.3;
    color: #fff;
    text-align: center;
  }
}

section.donate-section {
  display: grid;
  grid-template-columns: 1fr 1.65fr;

  place-items: center;

  min-height: 100vh;
  width: 100vw;
  padding: 5vw 0;

  background-image: url(../assets/02_blue_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.goals {
  grid-column: 1;
  padding: 1em;
}

.goals-container {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 4vw 2em;
  border-radius: 10px;
  max-width: 65ch;
}

@media (max-width: 750px) {
  section.donate-section {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1.65fr;
    gap: 2em;
    padding: 1em;
  }

  .about-text {
    padding-bottom: 70px;
  }

  .goals {
    padding: 0;
  }
  .goals-container {
    padding: 0 1em;
    border-radius: 0;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
}

ul {
  list-style: circle;
  padding-left: 1em;
}

li {
  padding: 0;
  line-height: 1.3;
  margin-bottom: 0.5em;
}

li:last-of-type {
  margin-bottom: 0;
}

img {
  width: 100%;
}

.slideshow {
  padding: 2em 0;
}

.nitty-gritty {
  background-image: url(../assets/GLORI_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  min-height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1.65fr;
  gap: 2em;
  padding: 1em;
}

@media (max-width: 750px) {
  section.slideshow {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.main-carousel {
  grid-column: span 2;
}

.more-info {
  grid-column: 2;
  padding: 2em;
  padding-bottom: 4em;
  max-width: 65ch;
  margin: auto;
}

/* smaller, dark, rounded square */
.flickity-button {
  background: #333;
}
.flickity-button:hover {
  border: 1px solid #be6830;
  background: linear-gradient(
    180deg,
    rgba(255, 177, 0, 1) 0%,
    rgba(246, 155, 63, 1) 100%
  );
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}

.carousel-cell {
  height: 300px;
  margin: 10px;

  color: #fff;
}

div.snippit {
  background-color: #002641;
}

.carousel-cell {
  width: 450px;
  height: 350px;
  border-radius: 10px !important;
  overflow: hidden;
}

.carousel-cell img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.carousel-cell img:hover {
  transform: scale(1.2);
  transition: all 0.25s ease-out;
}

.carousel-container {
  height: 100%;
  padding: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-container h2 {
  font-family: "Bitter", serif;
  font-weight: 200;
  font-size: 16px;
  font-weight: 700;
  display: inline;
  width: max-content;
}

.snippit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px !important;
}

.carousel-container h3 {
  font-family: "Work Sans", sans-serif !important;
  font-weight: 500;
  width: max-content;
  display: inline;
  font-family: "Bitter", serif;
  font-size: 1em;
  text-transform: capitalize;
}

p.carousel-quote {
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
}

@media (max-width: 750px) {
  .carousel-cell {
    max-width: 100%;
    min-height: 300px;
  }

  .carousel-container {
    padding: 25px 50px;
  }

  p.carousel-quote {
    color: #fff;
    font-size: 12px;
  }
}

ul.costs-table {
  list-style: none;
  padding-left: 0;
  margin-top: 1em;
}

ul.costs-table li.costs-container {
  margin: 0 0 0.5em 0;
  padding: 0;
  display: grid;
  grid-template-columns: 6em 1fr;
}

.cost {
  font-weight: 700;
}

section,
header,
.grid {
  background-color: #fff;
}

footer {
  z-index: 10;
  height: 40vh;
  padding: 10vw 5vw;
  width: 100%;
  background-color: #333333;
  color: #bebebe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer .email {
  font-size: clamp(1.5em, 5vw, 36px);
  font-family: "Bitter", serif;
  font-style: italic;
  font-weight: 500;
}

footer .email a {
  color: #bebebe;
  display: inline-block;
  border-bottom: 1px solid #bebebe;
  font-weight: 200;
}

.attribution {
  position: absolute;
  bottom: 10px;
  font-size: 10px;
}

/* INTRO */

.grid {
  display: grid;
  grid-template-columns: 1fr 1.65fr;
  /* grid-template-rows: 1fr 1fr; */
  gap: 1em;
  padding: 1em;
  align-items: center;
}

.grid img {
  object-fit: cover;
  height: 100%;
}

.mission {
  grid-column: 2;
  grid-row: 1;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 2em;

  /* background-color: rgb(240, 240, 240); */
}

.mission p {
  line-height: 1;
  font-family: "Bitter", serif;
  font-size: clamp(1.5em, 5vw, 36px);

  font-style: italic;
  line-height: 1.3;
  text-align: center;
  color: #002641;
}

@media (max-width: 400px) {
  .mission {
    padding: 0;
  }

  .mission p {
    text-align: left;
  }
}

.tender {
  grid-row: span 2;
}

.about-text {
  grid-column: 2;
  padding: 1em;
  padding-bottom: 2em;
  max-width: 65ch;
  margin: auto;
}

.grid img.smiles {
  object-fit: contain !important;
  height: auto !important;
}

@media (max-width: 750px) {
  .about-text,
  .more-info {
    grid-column: span 2;
  }

  .tender {
    grid-row: span 1;
  }

  .safe {
    grid-column: span 2;
  }
}

@media (max-width: 480px) {
  .grid,
  .nitty-gritty {
    grid-template-columns: 1fr;
  }

  .safe,
  .mission,
  .tender,
  .about-text,
  .more-info {
    grid-column: 1;
  }
  .about-text,
  .more-info {
    padding: 0 !important;
  }

  .nitty-gritty {
    padding: 1em;
  }

  .safe {
    display: none;
  }
}

.page {
  width: 100vw;
  background-color: #fff;
}

div.page:last-of-type {
  box-shadow: 1px 23px 41px -2px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 1px 23px 41px -2px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 1px 23px 41px -2px rgba(0, 0, 0, 0.62);
}

.modal {
  position: fixed;
  top: 46px;
  left: 0;
  z-index: 100;
  height: calc(100vh - 46px);
  width: 100vw;
  background: rgba(0, 0, 0, 0.9);

  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;

  padding: 2em;

  transition: all 0.25s ease-out;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.large-modal-image {
  max-width: 90vw;
  height: auto;
  object-fit: contain;
  transform: scale(0.5);
  transition: all 0.25s ease-out;
}

.large-modal-image.open {
  transform: scale(1);
}

@media (max-width: 450px) {
  .large-modal-image {
    padding: 0;
    max-width: 100vw;
    height: auto;
  }

  .modal {
    padding: 0.5em;
  }
}

.emotional_narrative {
  padding: 4em 0 4em 0;
  z-index: 100;
  display: grid;
  /* align-items: center; */
  grid-template-columns: 1fr 55ch 1fr;
  row-gap: 1em;
  background-color: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.62);
}

.emotional_narrative h2 {
  font-size: 2em;
  font-weight: 700;
  color: #002641;
  text-align: center;
}

.emotional_narrative h3 {
  text-align: center;
  margin: 0;
}

.emotional_narrative > * {
  grid-column: 2;
  margin: 0;
}

@media (max-width: 768px) {
  .emotional_narrative {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2.5em;
  }

  .emotional_narrative p {
    font-size: 14px;
    line-height: 1.3;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

a .readmore {
  display: inline-block;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;

  cursor: pointer;
}

a:active .readmore {
  transform: scale(0.95);
}

@media (max-width: 450px) {
  .emotional_narrative {
    grid-template-columns: 1fr;
    padding: 2em;
  }
}

.link-nav-narratives {
  margin-top: 1em;
  padding-top: 2em;
  border-top: 1px solid;
}

#tom h2 {
  font-family: "Bitter", serif;
  font-weight: 200;
  font-size: 16px;
  font-weight: 700;
  display: inline;
  width: max-content;
}

#tom h3 {
  font-family: "Work Sans", sans-serif !important;
  font-weight: 500;
  width: max-content;
  display: inline;
  font-family: "Bitter", serif;
  font-size: 1em;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .mobile {
    display: none;
  }
}
